.title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
}

.projectName {
  font-size: 22px;
  color: #2b8ce5;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  gap: 32px;
  justify-content: center;
}

.listItem {
  position: relative;
  list-style-type: none;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
}

.linkWrapper {
  display: block;
  margin-bottom: 24px;
  position: relative;
  color: #ffffff;
  cursor: pointer;

  transition: all 250ms ease-in;
}

.linkWrapper:hover {
  color: #8fc9ff;
}

.listItem > div {
  margin-bottom: 4px;
}

.linkWrapper::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 50%;
  transform: translateX(-50%);
}

.categoryTitle {
  margin-right: 4px;
}

.categoryItem {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
  padding: 6px 12px;
  border: 1px solid #2b8ce5;
  color: #2b8ce5;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
}
