.title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
}

.projectName {
  font-size: 22px;
}

.listItem {
  position: relative;
  list-style-type: none;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
}

.link {
  color: #ffffff;
}

.linkWrapper {
  margin-bottom: 24px;
}

.linkWrapper::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 0;
  width: 94%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 50%;
  transform: translateX(-50%);
}

.categoryTitle {
  margin-right: 4px;
}

.categoryItem {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
  padding: 6px 12px;
  border: 1px solid #ffffff;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
}
